extend layout
block content
  ul
    li
      a(href='/') Home
    li
      a(href='/streams') Streams
  div
    div Api response
    code= streamData
  h3 Publish and Play stream
  div(style="overflow: hidden;")
    div(style="float: left; width: 300px; margin: 20px;")
      div(id="publisher-example")
    div(style="float: left; width: 300px; margin: 20px;")
      div(id="player-example")
  div
    button(onClick='toggleBroadcast(this)' id='toggle-click') Start broadcasting
  div(style='margin-top: 20px')
    a(href=('/stream/'+id+'/fmleProfile')) Download the Flash Media Live Encoder profile
    span
      span= " - to use with Adobe's "
      a(href="http://www.adobe.com/products/flash-media-encoder.html" target='_blank') Flash Media Live Encoder
      span .
  script.
    var playing = false;
    window.publisher = CineIO.publish('!{id}', '!{password}', 'publisher-example');
    function toggleBroadcast(button){
      if (!playing){
        playing = true;
        publisher.start();
        button.innerHTML = 'Stop broadcasting'
      }else{
        playing = false;
        publisher.stop();
        button.innerHTML = 'Start broadcasting'
      }
    }
  script.
    CineIO.play('!{id}', 'player-example');
